$theme-color:#0f3374;
// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 单行隐藏
@mixin single-line-hidden ($wdt){
  width: $wdt;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 多行隐藏
@mixin more-line-hidden ($clamp: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  overflow: hidden;
}
// flex 布局
@mixin flex ($flexType: flex, $justContent: space-between, $alignItem: center) {
  display: $flexType;
  justify-content: $justContent;
  align-items: $alignItem;
}